Package: ca.jeffrey.apollo-improvedcustomapi
Name: Apollo-ImprovedCustomApi
Version: 2.1.0
Architecture: iphoneos-arm
Description: Apollo for Reddit tweak with in-app configurable API keys
Maintainer: JeffreyCA
Author: JeffreyCA
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
